// Body
$body-bg: #2477AD;

// Brands
$page-home-bg: $body-bg;
$page-contact-bg: #000000;
$page-parcour-bg: #f25f5c;
$page-realisation-bg: #fed766;
$page-outil-bg: #34d3a4;

// Typography
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
//$text-color: #636b6f;

// Navbar
$navbar-default-bg: $page-home-bg;

// Buttons

// Inputs
