
<div id="article-container">
<h3> <a href="www.iode-ingenierie.com" title="Projet Symfony2: InRealGame" style="color: white;">Iode Ingenierie</a> </h3> 
<br>
<img src="images/iode-ingenierie.jpg">
<p>  J'ai rejoint l'entreprise IODE Ingénierie lors de ma seconde année de BTS en alternance pour une période de 10 mois. </p>
<p>
	J'ai donc eu l'occasion, pendant cette période, de m'occuper du serveur documentaire mis à la disposition des clients de IODE. 
</p>
<p>
	Cela m'a permis d'approfondir mes connaissances en PHP orienté objet ainsi que dans les échanges FTP tout en pratiquant des technologies comme le JQuerry et le AJAX.
</p>
<br>
<p>
 <a href="www.iode-ingenierie.com/" title="Projet Symfony2: InRealGame" style="color: white;"> Essayez le ici ! </a>  </p>
<p> > Php5, Ftp via Php, JQuerry, AJAX, CSS3, HTML5</p>
</div>


<div id="article-container">
<h3> <a href="/InRealGame/web/" title="Projet Symfony2: InRealGame" style="color: white;">In Real Game</a> </h3> 
<br>
<img src="images/inrealgame.jpg">
<p>  InRealGame est une Application web destinée aux groupes de joueur de MMORPG ou à d'autre organisation. Le but de ce site avec de faciliter la communication au sein d'une guilde tout en lui permettant d'accéder à plusieurs fonctions de gestion.
 <a href="/InRealGame/web/" title="Projet Symfony2: InRealGame" style="color: white;"> Essayez le ici ! </a>  </p>
<p> > Symfony2, Bootstrap, Mysql</p>
</div>


<div id="article-container">
<h3> <a href="/jeux/index.html" title="Projet Construct2: Dodge To Kill" style="color: white;">Dodge To Kill</a> </h3> 
<br>
<img src="images/dodgetokill.jpg">
<p> Dodge To Kill est un jeu que j'ai créé entièrement seul. Il reprend l'idée générale du space shooter mais, sans laisser la possibilité au joueur de tirer à sa guise. En effet pour se défendre le joueur doit passer près des attaques ennemies pour tirer automatiquement un projectile.</p> <p> Ce Projet est en cours de construction. <a href="/jeux/index.html" style="color: white;" title="Projet Construct2: Dodge To Kill"> Essayez le ici ! </a>  </p>
<p> > Construct2</p>
</div>

<div id="article-container">
<h3> <a href="http://aboukhriss-zakaria.olympe.in/tchat/index.php" title="Projet AJAX: Tchat" style="color: white;"> Tchat en Ajax </a> </h3> 
<br>
<img src="images/tchat.jpg">

<p>Afin d'apprendre l'Ajax, je me suis lanc&eacute; dans la cr&eacute;ation d'un tchat en temps r&eacute;el.</p>

<p> Ce Projet est en cours de construction. <a href="http://aboukhriss-zakaria.olympe.in/tchat/index.php" style="color: white;" title="Projet AJAX: Tchat"> Essayez le ici ! </a>  </p>
<p> > AJAX, Jquerry, JavaScript, PHP, Doctrine2</p>
</div>


<div id="article-container">
<h3> Connection Lost </h3>
 <br> 
 <img src="images/Game.jpg">
 <p> Connection Lost est un projet de Jeux Vidéos débuté en juin 2014. </p>
 <p> Pour ce projet j'ai travaillé avec l'aide d'un ami développeur. Je me suis surtout occupé de la partie intelligence artificielle des ennemis. Mon collègue, lui, c'est chargé de la physique et des animations. </p> 
<p> > Construct 2 </p>
</div>



<div id="article-container">
<h3> Reseau Social - Ma Kubosphere </h3> 
<br> 
<img src="images/makubosphere.jpg"> <p> J'ai travaillé sur le réseau social Ma Kubosphére de Mai 2014 à Juin 2014 lors d'un stage de 6 semaines. </p> 
<p> C'est grâce à ce projet que j'ai pu apprendre le CakePhp.</p> <p> > CakePhp, Bootstrap. </p>
</div>