		<ul id="liste-outils">
			<li class="img-cadre">
	 	 	<img  src="images/logo/php.png">
	 	 	<h5> PHP-Objet </h5>
	 	 		<div id="progress-bar">
	    			70%
	    			<div id="progress" class="sbg" style="width: 70%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/symfony.png">
	 	 	<h5> Symfony2 </h5>
	 	 		<div id="progress-bar">
	    			67%
	    			<div id="progress" class="sbg" style="width: 67%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/html5.png">
	 	 	<h5> HTML </h5>
	 	 		<div id="progress-bar">
	    			90%
	    			<div id="progress" class="sbg" style="width: 90%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/css3.png">
	 	 	<h5> CSS3 </h5>
	 	 		<div id="progress-bar">
	    			73%
	    			<div id="progress" class="sbg" style="width: 73%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/bootstrap.png">
	 	 	<h5> Bootstrap </h5>
	 	 		<div id="progress-bar">
	    			67%
	    			<div id="progress" class="sbg" style="width: 67%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/js.png">
	 	 	<h5> JavaScript </h5>
	 	 		<div id="progress-bar">
	    			71%
	    			<div id="progress" class="sbg" style="width: 71%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/jQurery.gif">
	 	 	<h5> J-Query </h5>
	 	 		<div id="progress-bar">
	    			73%
	    			<div id="progress" class="sbg"  style="width: 73%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/ajax.png">
	 	 	<h5> AJAX </h5>
	 	 		<div id="progress-bar">
	    			70%
	    			<div id="progress" class="sbg" style="width: 59%;">
	    			</div>
				</div>	
			</li>

			<li class="img-cadre">
	 	 	<img  src="images/logo/cakephp.png">
	 	 	<h5> Cake-PHP </h5>
	 	 		<div id="progress-bar">
	    			30%
	    			<div id="progress" class="sbg" style="width: 30%;">
	    			</div>
				</div>	
			</li>
			

			<li class="img-cadre">
	 	 	<img  src="images/logo/git.png">
	 	 	<h5> Git </h5>
	 	 		<div id="progress-bar">
	    			60%
	    			<div id="progress" class="sbg" style="width: 60%;">
	    			</div>
				</div>	
			</li>


			<li class="img-cadre">
	 	 	<img  src="images/logo/wp.png">
	 	 	<h5> Wordpress </h5>
	 	 		<div id="progress-bar">
	    			40%
	    			<div id="progress" class="sbg" style="width: 40%;">
	    			</div>
				</div>	
			</li>


			<li class="img-cadre">
	 	 	<img  src="images/logo/ps.png">
	 	 	<h5> Photoshop </h5>
	 	 		<div id="progress-bar">
	    			45%
	    			<div id="progress" class="sbg" style="width: 45%;">
	    			</div>
				</div>	
		</li>

	</ul>