<div class="container">
 <span class="glyphicon glyphicon-edit" id="left-icon-c"></span>  
 <p>
 	2014/2015 - Advanced Technician's Certificate SIO (SLAM) Apprenticeship Contract 2nd year - CFA INSTA Paris
 	<br>
 	SARL IODE INGENIERIE- Junior Web Developer

 </p> 


 <span class="glyphicon glyphicon-briefcase" id="left-icon-a"></span> 
<p>
	2014 September - Radis Noir - Paris - Front-end Developer (Trainee)<br>
  - Graphic Model of Integration<br>
  - Implementation of design with CSS3 <br>
  > Tools Used: HTML5, CSS3, JS/Jquery</p>



<span class=" glyphicon glyphicon-briefcase" id="left-icon-a"></span> 
<p> 2014 From July to August - SARL KUBOSPHERE &ndash; La Courneuve <br>
	- Web Developer (Trainee)  <br>
	- Developement of a Social Network  <br>
	- Creation of the mailbox <br>
	- Test and Debug  <br>

	> Tools Used: Bootstrap, CakePHP</p>


 <span class="glyphicon glyphicon-pencil" id="left-icon-c"></span>  
<p> 2013/2014 - First Year Advanced Technician's Certificate SIO (SLAM) - Turgot High School, Paris</p>


<span class="glyphicon glyphicon-pencil" id="left-icon-c"></span>   
<p> 2012/2013 - First Year Technical University Degree Informatique - CNAM Paris</p>


 <span class="glyphicon glyphicon-pencil" id="left-icon-c"></span> 
 <p> 2011/2012 - Bachelor in Accounting - Auguste Blanqui High School, Saint Ouen</p>


	</div>